html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: silver;
}
.centerimg{
    position: relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    background-image:linear-gradient(rgba(255, 7, 20, 0.5),rgba(255, 7, 20, 0.5)), url("../image/Girl.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    height: 100%;
    width: 50%;

}
